#wrapper {
   width: 500px;
   margin-left: auto;
   margin-right: auto;
   font: 16px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
   color: #333;
   line-height: 1.5;
}

a:link, a:visited, a:hover {
   color: #333;
   text-decoration: none;
}

a:hover {
   text-decoration: underline;
}

#nav {
   margin-top: 10%;
}

#header {
   font-size: 22px;
}

.entry {
   float: clear;
}

.post_title {
   float: left;
}

.post_date {
   float: left;
   margin-right: 10px;
   color: #777;
}

footer {
   margin-top: 10px;
}
